<div class="container">
    <h1>Projects</h1>
    <div class="inner-container">
        <div class="project" *ngFor="let project of projects">
            <div class="wrapper">
                <img class="image-container" src="{{project.image}}" alt="{{project.name}}">
                <img class="icon" src="{{project.icon}}" alt="{{project.icon}}">
                     <h2>{{project.name}}</h2>
                     <div class="inner">
                        <a href="{{project.github}}" target="_blank" ><img class="github"  src="../../assets/github.png" alt="Github"></a>
                        <a class="web button" href="{{project.livesite}}" target="_blank">Live Site</a>
                        <p>{{project.description}}</p>
                     </div>
            </div>
        </div>
    </div>
</div>