.container {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(110, 231, 183); 
    flex-direction: column;
    object-fit: cover;
    /* outline: 2px solid red; */
}

h1 {
    font-size: 50px;
}

.inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 70%;
    flex-wrap: wrap;
    height: 80%;
    /* outline: 1px solid blue; */
    object-fit: cover;

}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* outline: 5px solid green; */
    object-fit: cover;
}

.project {
    height: 50%;
    width: 50%;
    object-fit: cover;
    /* outline: 3px solid orange; */
}

img {
    height: 80%;
    object-fit: cover;
    object-position: top;
    width: 90%;
    border-radius: 10px;
    transition: all .3s ease-in;
}



p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 400px;
    font-size: 20px;
    color: white;
    display: none;
    transition: all .3s ease-in;
}

.project:hover {
    img {
        filter: blur(3px) brightness(0.5);
        transition: all .3s ease-out;
    }
}

.project:hover {
    p {
        display: block;
        transition: all .3s ease-out;
    }
}

@media screen and (max-width: 500px) {
    h2 {
        font-size: 20px;
    }
    .project {
        height: 50%;
        width: 100%;
        object-fit: cover;
        /* outline: 3px solid orange; */
    }

    .container {
        height: auto;
    }
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 50%;
        font-size: 20px;
        color: white;
        display: none;
        transition: all .3s ease-in;
    }
}

