.container {
    position: relative;
    top: -30px;
    display: flex;
    justify-content: center;
    text-align: center !important;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    /* scale: .8; */
    opacity: 0;
    transform: translateY(20%);
    animation: fadeIn ease-in-out forwards;
    animation-timing-function: ease-out;
    animation-timeline: view();
    animation-range: entry;
    /* background-color: rgb(110, 231, 183); */
    background-color: white;
    /* outline: 2px solid red; */
}

.photography {
    color: black;
    font-weight: 100;
    text-decoration: none;
    border-bottom: 2px solid black;
    transition: all .3s linear ease-in;
}

.photography:hover {
    font-weight: 500;
    transition: all .3s linear ease-out;
}

h3 {
    padding: 1rem;
    margin: 0;
    font-size: 45px;
    color: black;
    scale: .8;
    opacity: 0;
    animation: 5s fadeIn ease-in-out forwards;
    animation-timing-function: ease-out;
    animation-timeline: view();
    animation-range: entry;
    /* outline: 1px solid red; */

}

p {
    color: black;
    max-width: 600px;
    text-align: center;
    height: 200px;
    margin: 0 auto;
    padding: 1rem;
    font-size: 25px;
    line-height: 1.5;
    /* outline: 2px solid blue; */
    scale: .8;
    opacity: 0;
    animation: 15s fadeIn ease-in-out forwards;
    animation-timing-function: ease-out;
    animation-timeline: view();
    animation-range: entry;
}
@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
        transform: translate(0);
    }
}



@media screen and (max-width: 500px) {
    p {
        font-size: 20px;
    }
}

@media screen and (max-width: 385px) {
 .about {
    margin-top: 20px;
 }
}